{% extends "layout.html" %}

{% block title %}Comparison file {% endblock %}


{% block page_content %}
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Upload File</h3>
    </div>
    <div class="panel-body">
        <form method="POST" action="{{ url_for('.comparison_upload') }}" enctype = "multipart/form-data" class="form-horizontal">
            <div class="form-group">
                <label for="comparisonNameInput" class="control-label col-sm-2">Comparison Name</label>
                <div class="col-sm-4">
                    <input id="comparisonNameInput" name="comparisonNameInput" type="input" class="form-control" placeholder="Please enter comparison name." />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">Segmentation by system</label>
                <div class="col-sm-4">
                    <input type="file" name="auto_file" id="auto_file" class="form-control-file" />
                    <p class="help-block">(Please select the Excel or Csv file)</p>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">Expected segmentation</label>
                <div class="col-sm-4">
                    <input type="file" name="manual_file" id="manual_file" class="form-control-file" />
                    <p class="help-block">(Please select the Excel or Csv file)</p>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <button type="submit" class="btn btn-primary col-sm-offset-2">Compare</button>
                </div>
            </div>
        </form>

        <div class="row">
            <div class="panel-body">
                 <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th> # </th>
                            <th> Comparison Name </th>
                            <th> Partial Score </th>
                            <th> Full Score </th>
                            <th> Total </th>
                            <th> Create Time </th>
                            <th> Oprations </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if comparisons %}
                            {% for item in comparisons %}
                                <tr>
                                    <td>
                                        {{ item.id }}
                                    </td>
                                    <td>
                                        {{ item.comparison_name }}
                                    </td>
                                    <td>
                                        {{ item.partial_score }}
                                    </td>
                                    <td>
                                        {{ item.full_score }}
                                    </td>
                                    <td>
                                        {{ item.total }}
                                    </td>
                                    <td>
                                        {{ item.created_at }}
                                    </td>
                                    <td>
                                        <a href="{{ url_for('.report', report_id=item.id) }}">View</a>
                                        | <a href="{{ url_for('.delcomparison', report_id=item.id) }}" >Delete</a>

                                    </td>
                                </tr>
                            {% endfor %}
                        {% endif %}
                    </tbody>
                </table>
                </div>
        </div>
    </div>

    <div class="panel-footer">

    </div>

    <div class="col-md-12">
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">

                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            ×
                        </button>
                        <h4 class="modal-title" id="myModalLabel">
                            Alert
                        </h4>
                    </div>
                    <div class="modal-body">
                        Are you sure you want to delete it?
                    </div>
                    <div class="modal-footer">
                        <button id="ok_button" type="button" class="btn btn-primary">
                            Yes
                        </button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">
                            Close
                        </button>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename='comparison.js') }}"></script>
{% endblock %}