{% extends "layout.html" %}

{% block title %}Segmentation for batch queries{% endblock %}

{% block page_content %}
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Upload File</h3>
    </div>
    <div class="panel-body">
        <form method="POST" action="{{ url_for('.upload') }}" enctype = "multipart/form-data" class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-2 control-label">Query File</label>
                <input type="file" name="file" id="file" class="form-control-file" />
                <p class="help-block col-sm-offset-2">(Please select the Excel or Csv file)</p>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Phrase list</label>
                <select id="enginetype" name="enginetype" class="col-sm-2 form-control">
                    <option selected="true" value="1">Default</option>
                    <option value="2">Default + AU 350 queries</option>
                </select>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary col-sm-offset-2">Upload</button>
            </div>
        </form>
        <div class="row">
            <div class="panel-body">
                <h3>Upload History</h3>
                 <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>File</th>
                            <th>Phrase list</th>
                            <th>Status</th>
                            <th>Start Time</th>
                            <th>End Time</th>
                            <th>Oprations</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for file in files %}
                        <tr>
                            <td>{{ file.id }}</td>
                            <td>{{ file.name }}</td>
                            <td>
                                {% if file.engine_id == 1%}
                                    Default
                                {% else %}
                                    Default + AU 350 queries
                                {% endif %}
                            </td>
                            <td>
                              {% if file.status == 0 %}
                                <span class="btn btn-info btn-xs">Not started</span>
                              {% elif file.status == 1 %}
                                <span class="btn btn-primary btn-xs">Processing</span>
                              {% elif file.status == 2 %}
                                <span class="btn btn-success btn-xs">Complete</span>
                              {% else %}
                                <span class="btn btn-warning btn-xs">Failed</span>
                              {% endif %}
                            </td>
                            <td>{% if file.start_time %}{{ moment(file.start_time).format('LLL') }}{% endif %}</td>
                            <td>{% if file.end_time %}{{ moment(file.end_time).format('LLL') }}{% endif %}</td>
                            <td>
                                <a href="{{ url_for('.view_file', file_id=file.id) }}">View</a>
                                {% if file.status == 2 %}
                                  | <a href="{{ url_for('.download_file', file_id=file.id) }}">Download</a>
                                  | <a href="{{ url_for('.delete_file', file_id=file.id) }}">Delete</a>
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
				</div>
        </div>
    </div>

    <div class="panel-footer">

    </div>
</div>
{% endblock %}