{% extends "layout.html" %} {% block title %}Survey Tool - Dashboard{% endblock %} {% block page_content %}
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">
            Data Set
        </h3>
    </div>
    <div class="panel-body">
        <table class="table table-bordered table-hover">
            <tr>
                <td>No.</td>
                <td>Date Set Name</td>
                <td>Algorithms</td>
                <td>Seconds</td>
                <td>Date</td>
                <td>Operation</td>
            </tr>
            {% for item in dataSetList %}
            <tr>
                <td>
                    {{loop.index}}
                </td>
                <td>
                    <a href="{{ url_for('main.surveylist',parent_id = item.pkey) }}">
                        {{item.survey.info.datasetname}}
                    </a>
                </td>
                <td>{% set arrColor =['red','blue','brown','aqua','black','coral','crimson','darkgreen']%} {% for item in item.survey.info.algorisms %} <span style="color:{{arrColor[loop.index-1]}}">{{item}}</span> &nbsp;| {% endfor %}</td>
                <td>{{item.survey.info.seconds}}</td>
                <td>{{item.survey.info.date}}</td>
                <td>
                    <a href="javascript:void(0);" class="btn btn-delete" pkey="{{item.pkey}}">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <div class="panel-footer"></div>
</div>
{% endblock %}