{% extends "survey_layout.html" %} {% block title %}Survey{% endblock %} {% block page_content %}
<input type="hidden" name="svy_id" id="svy_id" value="{{svy_id}}" />
<input type="hidden" name="parent_pkey" id="parent_pkey" value="{{parent_pkey}}" />
{{js}}
<div class="col-md-12">
    <div class="row">
        <div class="col-md-6" style="padding-right: 5px;">
            <div id="Query">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            Query -
                            <a href="{{survey.query.legislation.link}}">{{survey.query.legislation.title}}</a>
                        </h3>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="query-container" style="overflow-y: auto;">
                                    <table class="table-no-border">
                                        <tr>
                                            <td>
                                                <label for="">legislation:</label>
                                                <ul>
                                                    <!-- <li>
                                                        <label>{% for item in survey.query.legislation.subjects%} {{item}} {%endfor%}</label>
                                                    </li> -->
                                                    <li>
                                                        <label>{{survey.query.legislation.path}}</label>
                                                    </li>
                                                </ul>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label for="">provision:</label>
                                                <ul>
                                                    <li>
                                                        <label for="">{{survey.query.provision.title}}</label>
                                                    </li>
                                                    <li>
                                                        <label for="">{{survey.query.provision.text}}</label>
                                                    </li>
                                                </ul>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                datasetName:
                                                <label>{{info.datasetName}}</label>
                                                date:
                                                <label for="">{{info.date}}</label>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="progress" style="float: left; width:75%">
                    <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0"
                        aria-valuemax="100" style="width: 45%">
                        <span>45% Queries Complete</span>
                    </div>
                </div>
                <nav aria-label="..." style="float: right;">
                    <ul class="pager">
                        <li class="previous">
                            <a href="javascript:void(0);" title="Previous query">
                                <span aria-hidden="true">&larr;</span>
                            </a>
                        </li>
                        <li class="next">
                            <a href="javascript:void(0);" title="Next query">
                                <span aria-hidden="true">&rarr;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="col-md-6" style="padding-left: 5px;">
            {% for item in survey.recommand %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <a href="{{ item.legislation.link }}" target="_blank">{{loop.index}}. {{ item.legislation.title }}</a>
                    </h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table-no-border">
                                <tr>
                                    <td>
                                        <label for="">legislation: </label>
                                        <ul>
                                            <!-- <li>
                                                <label>{% for item in item.legislation.subjects%} {{item}} {%endfor%}</label>
                                            </li> -->
                                            <li>
                                                <label>{{item.legislation.path}}</label>
                                            </li>
                                        </ul>
                                    </td>

                                </tr>
                                <tr>
                                    <td>
                                        <label for="">provision: </label>
                                        <ul>
                                            <li>
                                                <label for="">{{item.provision.title}}</label>
                                            </li>
                                            <li>
                                                <label for="">{{item.provision.text}}</label>
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label for="">Similarity Measured by Algorithm:</label>
                                        <label for="">{{item.sim}}</label>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label for="">Relevance Score:</label>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <ul class="relevance">
                                            <li>
                                                <input type="radio" name="svy_{{loop.index}}" id="svy_1_{{loop.index}}" value="1">
                                                <label for="svy_1_{{loop.index}}">
                                                    No Revelant
                                                </label>
                                            </li>
                                            <li>
                                                <input type="radio" name="svy_{{loop.index}}" id="svy_2_{{loop.index}}" value="2">
                                                <label for="svy_2_{{loop.index}}">
                                                    Some Revelant
                                                </label>
                                            </li>
                                            <li>
                                                <input type="radio" name="svy_{{loop.index}}" id="svy_3_{{loop.index}}" value="3">
                                                <label for="svy_3_{{loop.index}}">
                                                    More Revelant
                                                </label>
                                            </li>
                                            <li>
                                                <input type="radio" name="svy_{{loop.index}}" id="svy_4_{{loop.index}}" value="4">
                                                <label for="svy_4_{{loop.index}}">
                                                    Most Revelant
                                                </label>
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <textarea placeholder="Comment" class="form-control" name="comments_{{loop.index}}" id="comments_{{loop.index}}" rows="2"></textarea>
                                    </td>
                                </tr>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}

            <button class="btn btn-default center-btn submit_svy">Save</button>
            <button class="btn btn-primary center-btn submit_svy" nextsvyid="1">Save and Next</button>
        </div>
    </div>
    <hr>
    <br>
    <br>
    <br>
</div>
<script>
    window.scoreStr = '{{svy_score.score}}';
    window.comments = '{{svy_score.comments}}';
</script>
{% endblock %}