{% extends "layout.html" %} {% block title %}Dashboard{% endblock %} {% block page_content %}
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">
            Survey List
        </h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <table class="table table-bordered table-hover">
                    <tr>
                        <td>No.</td>
                        <td>Query</td>
                        <td>Provision</td>
                        <td>Status</td>
                    </tr>
                    {% for item in surveyList %}
                    <tr>
                        <td>
                            {{loop.index}}
                        </td>
                        <td>
                            <a href="{{ url_for('main.survey',svy_id = item.id) }}">
                                {{item.survey.query.legislation.title}}
                            </a>
                        </td>
                        <td>{{item.survey.query.provision.title}}</td>
                        <td>{% if item.status == 0 %} Not Start {%endif%} {% if item.status == 1 %} Inprogress {%endif%} {% if item.status == 2 %} Completed {%endif%}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}